body {
    background-image:images (54)-1.jpeg ;
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    background-color: rgba(1, 22, 1, 0.993);
    color: rgb(8, 117, 81);
    padding: 15px;
    margin: 30px;
    border-radius: 5px;

}
.Free{
background-color: rgb(2, 41, 2);
padding: 3px;
width: 40px;
text-align: center;
border-radius: 3px;
}
.html{ 
    box-sizing: content-box;
    max-width: fit-content;
    max-height: fit-content;
    border:1px solid rgb(7, 85, 7);;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
}
.small{
    background-color: rgb(1, 39, 29);
    display: inline-flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    padding: 100px;
    position:relative;
    border-radius: 300px;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    color: rgb(126, 187, 120);  
}
.circle{
   justify-content: center; 
   align-items: center;
   margin-left: 200px;
}
h2{
   align-items: center;
   position: absolute;
   color: rgb(36, 99, 30);
   top: 0%;
}
.empty{
    height: 30px;
    background-color: rgb(6, 212, 109);
    margin: 0%;
    
}
.left{
    background-color: rgb(2, 41, 2);
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 800px;
    padding-bottom: 10px;
    z-index: 1;
    
}